NODE_ENV=development
APP_PORT=3000
APP_NAME="PATEC"
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:5173
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=sqlite
DATABASE_NAME=./data/db.sqlite
DATABASE_SYNCHRONIZE=true

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d